[Unit]
Description=AURORA ClickHouse Database Initializer
Requires=aurora-clickhouse.service
After=aurora-clickhouse.service
PartOf=aurora.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/aurora/init/setup-clickhouse.sh
RemainAfterExit=yes

[Install]
WantedBy=aurora.target
