[Unit]
Description=AURORA MinIO Bucket Initializer
Requires=aurora-minio.service
After=aurora-minio.service
PartOf=aurora.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/aurora/init/setup-minio.sh
RemainAfterExit=yes

[Install]
WantedBy=aurora.target
