[Unit]
Description=AURORA Dashboard (native Nginx)
After=aurora-go-api.service
PartOf=aurora.target

[Service]
Type=simple
WorkingDirectory=%h/.local/share/aurora
ExecStart=%h/.local/bin/nginx -g "daemon off;" -c %h/.config/aurora/nginx.conf -e %h/.local/share/aurora/nginx_error.log
Restart=on-failure
RestartSec=3
KillSignal=SIGQUIT
SuccessExitStatus=0 1 2 130 143 SIGINT SIGTERM SIGQUIT
TimeoutStopSec=5

[Install]
WantedBy=aurora.target
