AURORA_ENV=development
AURORA_LOG_LEVEL=info

MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=aurora

NATS_URL=nats://nats:4222

AURORA_ML_DEVICE=auto
AURORA_ML_BATCH_SIZE=32
AURORA_ML_MAX_VRAM_MB=3500
CUDA_VISIBLE_DEVICES=0

AURORA_CLICKHOUSE_HOST=clickhouse
AURORA_CLICKHOUSE_PORT=8123
AURORA_CLICKHOUSE_USER=default
AURORA_CLICKHOUSE_PASSWORD=
AURORA_CLICKHOUSE_DATABASE=aurora
